/*propiedad display: none, block, inline, inline-block 
para mostrar elementos de bloque como de linea y 
de linea como de bloque o hacer desaparecer elementos


css3 generator

*/

div {

    width: 15px;
    height: 15px;
    background-color: green;
    margin: 1px;

	-webkit-box-shadow: 15px 15px 20px 5px rgba(10,10,10,1);
	box-shadow: 15px 15px 20px 5px rgba(10,10,10,1);
}