*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*USO DE IMAGENES DE FONDO*/
/*EDITOR BRACKETS*/
body>header{
	border: 2px solid black;
	background-image: url(img/encabezado.jpg);
	background-repeat: no-repeat;
	/*background-attachment: fixed; puede ser fixed o scroll para que scrole o no con la página*/
	background-position: top;
	background-size: contain;
	/*cover cubre todo el contenedor y agranda la imagen
	  contain adapta la imagen al contenedor para que se vea siempre, no funciona con fixed
	  también se puede poner */


	width: 80%;
	height: 200px;
	margin: auto;
}
body>header>nav{
	height: 100%;
	width: 80%;
	background: rgba(100,100,200,.5);
	float: right;
	padding-left: 10px;
	
}
body>header>nav>ul{
	list-style: none;

	/*list-style-image: ;
	list-style-position: ;*/
}

body>header>nav>ul li{
	float: left;
	text-align: center;

	height: 100%;
	width: 20%;
	margin-right: 5%;
}
body>header>nav>ul li a{
	display: block;
	box-sizing: content-box;
	text-decoration: none;
	color: black;
	font: 16px helvetica,arial,sans-serif;
	line-height: 100%;
	height: 100%;
	width: 100px;
	transition: .8s all;
}

body>header>nav>ul li a:hover{
	padding-top: 50%;
	background-color: red;
	border-bottom: 2px solid black;
}

/*OVERFLOW controla el contenido de la caja, por defeto lo que sobresale se vé
  hidden oculata lo que se sale de la caja
  scroll le agrega los scroll bar siempre
  auto agrega el scroll si hace falta

  se puede usar para usar una sola plantilla de imagenes
  y con los position hacer foco en una en particular usandola de background
*/